* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inputs {
  padding: 40px;
  text-align: center;
}
#do-list-container {
  width: 70%;
  margin: auto;
  background-color: #f5f7f7;
  padding: 25px;
  list-style-type: none;
}
#do-list-container * {
  cursor: pointer;
}
.task {
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.done_task {
  text-decoration: line-through;
}
