<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Bottone inserimento nuova task -->
      <div class="inputs">
        <input
          v-model="newTaskText"
          @keyup.enter="addNewTask()"
          type="text"
          placeholder="Inserisci una nuova task"
        />
        <button @click,keyup.enter="addNewTask()">Aggiungi</button>
      </div>
      <!-- Lista cose da fare -->
      <ul id="do-list-container">
        <li
          class="task"
          v-for="(item, index) in doList"
          v-bind:class="{'done_task' : item.done}"
        >
          <span @click="changeStatus(index)">{{item.text}}</span>
          <div class="actions">
            <span @click="removeTask(index)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
